.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  
  .signup-form {
    border: 1px solid #ccc;
    padding: 15px 65px 45px 50px;
    border-radius: 5px;
    width: 300px;
  }
  
  .signup-form > h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(36, 52, 147);
    
  }
  
  .signupform-group {
    margin-bottom: 15px;
  }
  
  .signupform-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signupform-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form>button {
    background-color: #243493;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 106%;
  }
  